In [1]:
import pandas as pd

In [2]:
%cd "D:\Onedrive\OneDrive - Trường ĐH CNTT - University of Information Technology\HKV\Internet & Công nghệ web\Doan"

D:\Onedrive\OneDrive - Trường ĐH CNTT - University of Information Technology\HKV\Internet & Công nghệ web\Doan

In [3]:
Table = ["Tag", "Product"]

In [10]:
def Get_print_value(Name):
    It = pd.read_csv(f"{Name}.csv")
    print(f"INSERT INTO {Name}")
    print(f"VALUE")
    temp = ""
    for id, row in It.iterrows():
        temp += f"\t("
        for item in row:
            temp += f"'{item}',"
        temp = temp[:-1]
        temp += f"),\n"
    temp = temp[:-2]
    temp += f";\n"
    print(temp)

In [11]:
for item in Table:
    Get_print_value(item)

INSERT INTO TAG
VALUE
	('T0001','Bedroom'),
	('T0002','Diningroom'),
	('T0003','Livingroom'),
	('T0004','Accent Tables'),
	('T0005','Beds'),
	('T0006','Benches & Ottomans'),
	('T0007','Chairs'),
	('T0008','Nightstands & Dressers'),
	('T0009','Tables'),
	('T0010','Stools'),
	('T0011','Sectionals'),
	('T0012','Sofas');

INSERT INTO TAG
VALUE
	('T0001','Bedroom'),
	('T0002','Diningroom'),
	('T0003','Livingroom'),
	('T0004','Accent Tables'),
	('T0005','Beds'),
	('T0006','Benches & Ottomans'),
	('T0007','Chairs'),
	('T0008','Nightstands & Dressers'),
	('T0009','Tables'),
	('T0010','Stools'),
	('T0011','Sectionals'),
	('T0012','Sofas');